body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h1{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#frase{
    display: block;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-left: 50px;
    align-content: center;
    padding-top: 250px;
    transition: all 3 ease;
}

#marretada{
    padding-left: 250px;
}